
$body-background-color: $rt-pink;
$sidebar-color: $rt-pink;
$border-color: $rt-pink;

$body-text-color: $grey-dk-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $rt-dblue;

$link-color: $rt-dblue;
$btn-primary-color: $rt-lblue;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
